.featuredCoursesContainer {
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    img {
        object-fit: cover;
    }
    @mixin page {
        line-height: 1.5;
        width: 400px;
        border: 1px solid white;
        padding: 10px;
        box-shadow: 0 0 15px 0 rgba(217, 217, 217, 0.97);
        margin: 2% 2%;
        img {
            width: 100%;
        }
        h3 {
            font-weight: 500;
            &:hover {
                color: #ffa500;
                transition: 0.5s;
            }
        }
    }
    .featuredCoursesTitle {
     
        width: 100%;
        min-height: 10px;
        color: #003366;
        font-size: 2.8em;
        text-align: center;
        padding-top: 55px;

        span {
            color: #ffa500;
        }
    }
    .featuredCoursesDescription {

        width: 60%;
        min-height: 15px;
        text-align: center;
        font-size: 1.3em;
    }

    .cardsBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;

        p {
            line-height: 1.2;
        }
        .span {
            background-color: #ffa500;
            padding: 5px;
            margin-right: 10%;
        }
        .one {
            @include page();
            h2{
                font-weight: 200;
            }
        }
        .two {
            @include page();
        }
        .three {
            @include page();
        }
    }

    .link {
        text-decoration: none;
        color: #18181b;
    }
}
@media screen and (max-width: 1000px) {

    .featuredCoursesContainer{
        .cardsBox {
            .one {
                width: 300px;
                border-radius: 6px;
                img{
                    object-fit: cover;
                    border-radius: 6px;
                }
                 
             }
        }
    }

    
    

    
}
