.featuredCoursesContainer {
   margin: 0;
    min-height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    overflow-x: hidden;
    img {
        object-fit: cover;
    }
    @mixin page {
        line-height: 1.5;
        width: 350px;
        height: 400px;
        border: 1px solid white;
        padding: 10px;
        box-shadow: 0 0 15px 0 rgba(217, 217, 217, 0.97);
        margin: 2% 2%;
        img {
            width: 100%;
        }
        h3 {
            font-weight: 500;
            &:hover {
                color: #ffa500;
                transition: 0.5s;
            }
        }
    }
    .featuredCoursesTitle {
        width: 100%;
        min-height: 10px;
        color: #003366;
        font-size: 2.8em;
        text-align: center;
        padding-top: 55px;

        span {
            color: #ffa500;
        }
    }
    .featuredCoursesDescription {
        width: 60%;
        min-height: 15px;
        text-align: center;
        font-size: 1.3em;
    }

    .cardsBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;

        p {
            line-height: 1.2;
        }
        .span {
            width: 38px;
            height: 13px;
            background-color: #ffa500;
            padding: 5px;
        }
        .one {
            @include page();
            .image{
                padding: 0;
            }
            .infoBox {
                width: 100%;
                height: 15px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-right: 5px;
                margin-top: 15px;
                .duration {
                    width: 80px;
                    height: 27px;
                    background-color: #ffa500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .format {
                }
            }
            h2 {
                font-weight: 200;
            }
        }
        .two {
            @include page();
        }
        .three {
            @include page();
        }
    }

    .link {
        text-decoration: none;
        color: #18181b;
    }
}

@media screen and (max-width: 1300px) {
    .featuredCoursesContainer {
      

        .cardsBox {
            justify-content: flex-start;
            .cardDescription {
                display: none;
            }
            .one {
               

                width: 480px;
                border-radius: 6px;
                line-height: 1;
                img {
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }

}

@media screen and (max-width: 1130px) {
    .featuredCoursesContainer {
      
        .cardsBox {
            justify-content: center;
            .cardDescription {
                display: none;
            }
            .one {
                width: 450px;
                border-radius: 6px;
                line-height: 1;

                img {
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .featuredCoursesContainer {
      
        .featuredCoursesDescription {
            
        }
        .cardsBox {
            .cardDescription {
                display: none;
            }
            .one {
                width: 400px;
                border-radius: 6px;
                line-height: 1;

                img {
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .featuredCoursesContainer {
      
        .featuredCoursesDescription {
            
        }
        .cardsBox {
            .cardDescription {
                display: none;
            }
            .one {
                width: 300px;
                border-radius: 6px;
                line-height: 1;

                img {
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .featuredCoursesContainer {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        .featuredCoursesDescription {
            width: 100%;
        }
        .cardsBox {
            padding: 5px;
            .one {
                width: 235px;
                height: 250px;
                border-radius: 6px;
                .one {
                    width: 128px;
                    height: 202px;
                    border-radius: 6px;
                    .infoBox {
                        width: 100%;
                        height: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 1px solid #000;
                        margin-top: 5px;

                        .duration {
                            width: 38px;
                            height: 13px;
                            background-color: #ffa500;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 9px;
                        }

                        .format {
                            width: 80px;
                            height: 13px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 5px;
                        }
                    }
                }
                h2 {
                    font-size: 20px;
                }

                img {
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .featuredCoursesContainer {
    margin: 0;
    padding: 0;
    
        width: 100%;
        margin-left: 40px;

        .cardsBox {
            width: 100%;
            justify-content: space-between;
            
            .one {
                width: 150px;
                height: 202px;
                border-radius: 6px;

                .infoBox {
                    width: 100%;
                    height: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .duration {
                        width: 50px;
                        height: 23px;
                        background-color: #ffa500;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10px;
                    }

                    .format {
                        height: 13px;
                        font-size: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                h2 {
                    font-size: 18px;
                }

                img {
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {

    .featuredCoursesContainer {
        .featuredCoursesTitle{
            font-size: 1.5em;
        }
        .featuredCoursesDescription{
            width: 100%;
            font-size: 1em;
        }
.cardsBox{
    justify-content: space-between;
    .one{
        width: 140px;
                height: 200px;
                border-radius: 6px; 
.infoBox{
    .duration{
        width: 40px;
    }
    
}

                h2{
                    font-size: 15px;
                }
    }
}
    }

}
