.featuredCoursesContainer {
  margin: 0;
  min-height: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  overflow-x: hidden;
}
.featuredCoursesContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}
.featuredCoursesContainer .featuredCoursesTitle {
  width: 100%;
  min-height: 10px;
  color: #003366;
  font-size: 2.8em;
  text-align: center;
  padding-top: 55px;
}
.featuredCoursesContainer .featuredCoursesTitle span {
  color: #ffa500;
}
.featuredCoursesContainer .featuredCoursesDescription {
  width: 60%;
  min-height: 15px;
  text-align: center;
  font-size: 1.3em;
}
.featuredCoursesContainer .cardsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.featuredCoursesContainer .cardsBox .span {
  width: 38px;
  height: 13px;
  background-color: #ffa500;
  padding: 5px;
}
.featuredCoursesContainer .cardsBox .one {
  width: 350px;
  height: 450px;
  border: 1px solid white;
  box-shadow: 0 0 15px 0 rgba(217, 217, 217, 0.97);
  margin: 2% 2%;
}
.featuredCoursesContainer .cardsBox .one img {
  width: 100%;
}
.featuredCoursesContainer .cardsBox .one h3 {
  font-weight: 500;
}
.featuredCoursesContainer .cardsBox .one h3:hover {
  color: #ffa500;
  transition: 0.5s;
}
.featuredCoursesContainer .cardsBox .one .image {
  padding: 0;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
}
.featuredCoursesContainer .cardsBox .one .image img {
  transition: transform 0.5s ease, filter 0.5s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  filter: brightness(0.8);
}
.featuredCoursesContainer .cardsBox .one:hover .image img {
  transform: scale(1.2);
}
.featuredCoursesContainer .cardsBox .one .infoConteiner {
  padding: 0 10px;
}
.featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox {
  width: 100%;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}
.featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .duration {
  width: 80px;
  height: 27px;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
  font-weight: 200;
  padding: 10px 0;
  font-size: 23px;
}
.featuredCoursesContainer .cardsBox .one .infoConteiner .cardDescription {
  margin: 25px 0;
  height: 80px;
}
.featuredCoursesContainer .cardsBox .two {
  width: 350px;
  height: 450px;
  border: 1px solid white;
  box-shadow: 0 0 15px 0 rgba(217, 217, 217, 0.97);
  margin: 2% 2%;
}
.featuredCoursesContainer .cardsBox .two img {
  width: 100%;
}
.featuredCoursesContainer .cardsBox .two h3 {
  font-weight: 500;
}
.featuredCoursesContainer .cardsBox .two h3:hover {
  color: #ffa500;
  transition: 0.5s;
}
.featuredCoursesContainer .cardsBox .three {
  width: 350px;
  height: 450px;
  border: 1px solid white;
  box-shadow: 0 0 15px 0 rgba(217, 217, 217, 0.97);
  margin: 2% 2%;
}
.featuredCoursesContainer .cardsBox .three img {
  width: 100%;
}
.featuredCoursesContainer .cardsBox .three h3 {
  font-weight: 500;
}
.featuredCoursesContainer .cardsBox .three h3:hover {
  color: #ffa500;
  transition: 0.5s;
}
.featuredCoursesContainer .link {
  text-decoration: none;
  color: #18181b;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .featuredCoursesContainer .cardsBox {
    justify-content: flex-start;
  }
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 480px;
    border-radius: 6px;
    line-height: 1;
    height: 400px;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 1130px) {
  .featuredCoursesContainer .cardsBox {
    justify-content: center;
  }
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 450px;
    border-radius: 6px;
    line-height: 1;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    padding: 25px 0;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    height: 400px;
    width: 400px;
    border-radius: 6px;
    line-height: 1;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 950px) {
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 300px;
    border-radius: 6px;
    line-height: 1;
    height: 350px;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 600px) {
  .featuredCoursesContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .featuredCoursesContainer .featuredCoursesDescription {
    width: 100%;
  }
  .featuredCoursesContainer .cardsBox {
    padding: 5px;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 235px;
    height: 250px;
    border-radius: 6px;
    height: 280px;
  }
  .featuredCoursesContainer .cardsBox .one .one {
    width: 128px;
    height: 202px;
    border-radius: 6px;
  }
  .featuredCoursesContainer .cardsBox .one .one .infoConteiner .infoBox {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    margin-top: 5px;
  }
  .featuredCoursesContainer .cardsBox .one .one .infoConteiner .infoBox .duration {
    width: 15px;
    height: 13px;
    background-color: #ffa500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
  }
  .featuredCoursesContainer .cardsBox .one .one .infoConteiner .infoBox .format {
    width: 80px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  .featuredCoursesContainer .cardsBox .one h2 {
    font-size: 20px;
  }
  .featuredCoursesContainer .cardsBox .one h3 {
    font-size: 15px;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 400px) {
  .featuredCoursesContainer {
    padding: 0;
    width: 100%;
  }
  .featuredCoursesContainer .featuredCoursesDescription {
    font-size: 1.1em;
    padding: 15px 15px;
  }
  .featuredCoursesContainer .cardsBox {
    width: 100%;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 150px;
    border-radius: 6px;
    height: 200px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .duration {
    width: 50px;
    height: 20px;
    background-color: #ffa500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .format {
    height: 13px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    font-size: 14px;
    padding: 10px 0;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 375px) {
  .featuredCoursesContainer .featuredCoursesTitle {
    font-size: 1.5em;
  }
  .featuredCoursesContainer .featuredCoursesDescription {
    width: 100%;
    font-size: 1em;
    padding: 15px 15px;
  }
  .featuredCoursesContainer .cardsBox {
    justify-content: space-between;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 140px;
    height: 200px;
    border-radius: 6px;
  }
  .featuredCoursesContainer .cardsBox .one .infoBox .duration {
    width: 40px;
  }
  .featuredCoursesContainer .cardsBox .one h2 {
    font-size: 15px;
  }
}/*# sourceMappingURL=cours.module.css.map */