.featuredCoursesContainer {
  margin: 0;
  min-height: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 151px;
}
.featuredCoursesContainer img {
  -o-object-fit: cover;
     object-fit: cover;
}
.featuredCoursesContainer .featuredCoursesTitle {
  width: 100%;
  min-height: 10px;
  color: #003366;
  font-size: 2.8em;
  text-align: center;
  padding-top: 55px;
}
.featuredCoursesContainer .featuredCoursesTitle span {
  color: #ffa500;
}
.featuredCoursesContainer .featuredCoursesDescription {
  width: 100%;
  min-height: 15px;
  text-align: center;
  font-size: 1.3em;
  padding: 0 25px;
}
.featuredCoursesContainer .cardsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
.featuredCoursesContainer .cardsBox .span {
  width: 38px;
  height: 13px;
  background-color: #ffa500;
  padding: 5px;
}
.featuredCoursesContainer .cardsBox .one {
  width: 420px;
  height: 450px;
  box-shadow: 0 0 15px 0 rgba(217, 217, 217, 0.97);
  margin: 2% 2%;
}
.featuredCoursesContainer .cardsBox .one img {
  width: 100%;
}
.featuredCoursesContainer .cardsBox .one h3 {
  font-weight: 500;
}
.featuredCoursesContainer .cardsBox .one h3:hover {
  color: #ffa500;
  transition: 0.5s;
}
.featuredCoursesContainer .cardsBox .one .image {
  padding: 0;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
}
.featuredCoursesContainer .cardsBox .one .image img {
  transition: transform 0.5s ease, filter 0.5s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  filter: brightness(0.8);
}
.featuredCoursesContainer .cardsBox .one:hover .image img {
  transform: scale(1.2);
}
.featuredCoursesContainer .cardsBox .one .infoConteiner {
  padding: 0 10px;
}
.featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox {
  width: 90%;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .duration {
  width: 80px;
  height: 27px;
  background-color: #ffa500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
  font-weight: 200;
  padding: 10px 0;
  font-size: 23px;
}
.featuredCoursesContainer .cardsBox .one .infoConteiner .cardDescription {
  margin: 25px 0;
  height: 50px;
}
.featuredCoursesContainer .cardsBox .two {
  width: 420px;
  height: 450px;
  box-shadow: 0 0 15px 0 rgba(217, 217, 217, 0.97);
  margin: 2% 2%;
}
.featuredCoursesContainer .cardsBox .two img {
  width: 100%;
}
.featuredCoursesContainer .cardsBox .two h3 {
  font-weight: 500;
}
.featuredCoursesContainer .cardsBox .two h3:hover {
  color: #ffa500;
  transition: 0.5s;
}
.featuredCoursesContainer .cardsBox .three {
  width: 420px;
  height: 450px;
  box-shadow: 0 0 15px 0 rgba(217, 217, 217, 0.97);
  margin: 2% 2%;
}
.featuredCoursesContainer .cardsBox .three img {
  width: 100%;
}
.featuredCoursesContainer .cardsBox .three h3 {
  font-weight: 500;
}
.featuredCoursesContainer .cardsBox .three h3:hover {
  color: #ffa500;
  transition: 0.5s;
}
.featuredCoursesContainer .link {
  text-decoration: none;
  color: #18181b;
  height: 100%;
}

@media screen and (max-width: 1733px) {
  .featuredCoursesContainer .cardsBox .one {
    width: 400px;
  }
}
@media screen and (max-width: 1664px) {
  .featuredCoursesContainer .cardsBox .one {
    width: 360px;
  }
}
@media screen and (max-width: 1550px) {
  .featuredCoursesContainer .cardsBox .one {
    width: 350px;
  }
}
@media screen and (max-width: 1495px) {
  .featuredCoursesContainer .cardsBox .one {
    width: 330px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    width: 100%;
    font-size: 20px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .cardDescription {
    height: 80px;
  }
}
@media screen and (max-width: 1426px) {
  .featuredCoursesContainer .cardsBox {
    justify-content: flex-start;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 300px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    width: 80%;
  }
}
@media screen and (max-width: 1330px) {
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 450px;
    border-radius: 6px;
    line-height: 1;
    height: 400px;
    overflow: hidden;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
  .featuredCoursesContainer .cardsBox .one:hover {
    border-radius: 6px;
  }
  .featuredCoursesContainer .cardsBox .one:hover .image img {
    border-radius: 6px;
  }
}
@media screen and (max-width: 1280px) {
  .featuredCoursesContainer .cardsBox .one {
    width: 410px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .featuredCoursesContainer {
    padding: 0 30px;
  }
  .featuredCoursesContainer .cardsBox {
    justify-content: center;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 500px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    width: 80%;
  }
}
@media screen and (max-width: 1147px) {
  .featuredCoursesContainer .cardsBox {
    justify-content: center;
  }
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 400px;
    border-radius: 6px;
    line-height: 1;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    padding: 25px 0;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .featuredCoursesContainer {
    padding: 0 30px;
  }
  .featuredCoursesContainer .featuredCoursesDescription {
    padding: 30px 0;
  }
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    height: 400px;
    width: 400px;
    border-radius: 6px;
    line-height: 1;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
  .featuredCoursesContainer .section {
    padding: 0 30px;
  }
}
@media screen and (max-width: 950px) {
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    border-radius: 6px;
    line-height: 1;
    height: 380px;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 950px) {
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 330px;
    height: 380px;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 776px) {
  .featuredCoursesContainer .featuredCoursesDescription {
    width: 100%;
  }
  .featuredCoursesContainer .cardsBox .cardDescription {
    display: none;
  }
  .featuredCoursesContainer .cardsBox .one {
    width: 45%;
    height: 330px;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 652px) {
  .featuredCoursesContainer .cardsBox .one .infoConteiner {
    padding: 10px 10px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .featuredCoursesContainer {
    width: 100%;
  }
  .featuredCoursesContainer .featuredCoursesDescription {
    width: 100%;
  }
  .featuredCoursesContainer .cardsBox .one {
    border-radius: 6px;
    height: 300px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner {
    padding: 0 10px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox {
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .duration {
    width: 75px;
    height: 25px;
    background-color: #ffa500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .format {
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    font-size: 13px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    width: 100%;
  }
  .featuredCoursesContainer .cardsBox .one h2 {
    font-size: 15px;
    width: 100%;
  }
  .featuredCoursesContainer .cardsBox .one h3 {
    font-size: 15px;
  }
  .featuredCoursesContainer .cardsBox .one img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 500px) {
  .featuredCoursesContainer .cardsBox .one {
    width: 100%;
    border-radius: 6px;
    margin: 15px 0;
    height: 450px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 200px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .duration {
    font-size: 21px;
    width: 150px;
    height: 35px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .format {
    height: 13px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h2 {
    font-size: 21px;
    padding: 10px 0;
    height: 50px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner h3 {
    font-size: 21px;
  }
  .featuredCoursesContainer .cardsBox img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
  }
}
@media screen and (max-width: 400px) {
  .featuredCoursesContainer .featuredCoursesTitle {
    font-size: 2.2em;
    padding: 15px 0;
  }
  .featuredCoursesContainer .featuredCoursesDescription {
    padding: 0;
    font-size: 16px;
  }
  .featuredCoursesContainer .cardsBox .one {
    height: 380px;
  }
  .featuredCoursesContainer .cardsBox .one .infoConteiner .infoBox .duration {
    width: 100px;
  }
}
@media screen and (max-width: 375px) {
  .featuredCoursesContainer .featuredCoursesTitle {
    font-size: 1.5em;
  }
  .featuredCoursesContainer .featuredCoursesDescription {
    width: 100%;
    font-size: 1em;
    padding: 15px 0;
  }
  .featuredCoursesContainer .cardsBox .one {
    border-radius: 6px;
  }
  .featuredCoursesContainer .cardsBox .one .infoBox .duration {
    width: 40px;
  }
  .featuredCoursesContainer .cardsBox .one h2 {
    font-size: 15px;
  }
}/*# sourceMappingURL=cours.module.css.map */