.history {
    height:60vh ;
    margin: 8% 10%;
    .image{
       position: relative;
        .img{
      position: absolute;
         left:51%;
         bottom: 5%;   
          }
    }
    .our_history {
        p {
            width: 55%;
            font-size: 1.1em;
            line-height: 1.8;
        }
        .title {
            text-align: center;
            line-height: 0.6;
            h1 {
                font-size: 50px;
                font-weight: 700;
            }
            h1:nth-child(1) {
                color: #003366;
            }
            h1:nth-child(2) {
                color: #FFA500;
            }
        }
      //  button {
      //      border-radius: 5px;
       //     border: none;
       //     padding: 14px;
       //     background-color: #003366;  
       //     color: white;
       //     cursor: pointer;
       // }
    }
}
