.form{
display: flex;
justify-content: center;
flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
height: 90vh;
line-height: 0.9;
    .formTwo{
        width: 40%;
        
        h1{
            color:#003366 ;
            font-weight: 600;
            line-height: 40px;
            font-size: 2em;
            span{
                color:#FFA500;
            }
        }
    }
    .registr{
        display: flex;
        flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    width: 100%;
        input{
            border: 1px solid #003366;
            outline: none;
            background-color: rgba(149, 155, 184, 0.0);
            width: 100%;
            margin-top: 25px;
            padding: 20px;
            border-radius: 5px;
            line-height: 0.2;
        } 
        .error{
            font-size: 15px;
            color: red;
            font-weight: 200;
            text-align: center;
            line-height: 0.2;
        }
        .button{
       width: 100%;
       text-align: center;
  
       margin-top: 20px;
       button{
        width: 100%;
       }
        }
    }
    .link{
        color: aliceblue;
        text-decoration: none;
    }
}






@media screen and (max-width: 1200px) {
.form{
    .formTwo{
        width: 90%;
        h1{

        }
    }
    .registr{
        width: 40vw;

    }
}

}


@media screen and (max-width: 600px) {
    .form{
        .formTwo{
            width: 90%;
            h1{
                width: 100vw;
                font-size: 35px;
            }
        }
        .registr{
            width: 80vw;
    
        }
    }
    
    }
    
    
    





