.faqs {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  
    height: 500px;
    .h1 {
        font-size: 40px;
        color: #003366;
        span {
            color: #ffa500;
        }
    }

    h1 {
        font-size: 2.2em;
    }
    h2 {
        line-height: 1.5;
        font-weight: 400;
    }
    .cont {
        display: flex;
        justify-content: center;
        width: 100%;
        .faq {
            width: 80%;
          
            .test {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                flex-wrap: wrap;
                overflow: hidden;
                h2 {
                    color: #003366;
                    font-weight: 400;
                }
                .questions {
                    font-size: 1.2em;
                    width: 80%;
                    color: #003366;
                }
            }
        }
    }
}
@media screen and (max-width: 1500px) {
    .faqs {
        .h1{
            width: 60vw;
        }
          .cont{
              width: 70vw;
              height: 500px;
          }
      }
    
}
@media screen and (max-width: 1200px) {
    .faqs {
      .h1{
          width: 70vw;
      }
        .cont{
            width: 85vw;
            height: 500px;
        }
    }
  }


@media screen and (max-width: 1000px) {
      .faqs {
        .h1{
            width: 70vw;
        }
          .cont{
              width: 90vw;
              height: 500px;
          }
      }
    }
  

    @media screen and (max-width: 600px) {
        .faqs {
            padding: 12% 0;
          .h1{
              width: 70vw;
              font-size: 25px;
              line-height: 1.7;
              font-weight: 300;
              margin-right: 35px;
          }
            .cont{
                width: 80vw;
                height: 300px;
                .faq{
                    width: 90vw;
                    .test{
                        .questions{
                            font-size: 15px;
                        }
                        h2{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
      }
    
    
      @media screen and (max-width: 400px) {
        .faqs {
          .h1{
              width: 80vw;
              font-size: 25px;
          }
            .cont{
                width: 90vw;
                height: 400px;
                .faq{
                    width: 90vw;
                    .test{
                        .questions{
                            font-size: 13px;
                        }
                        h2{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
      }
    
    
    