.about {

  padding: 8% 10%;
  display: flex;
  flex-direction: column;
margin-left: 2%;

  .new_title {
    h1 {
      width: 50%;
      color: #003366;
      font-size: 2.2em;
      font-weight: 700;
      font-size: 50px;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }

  .part_one {
    width: 50%;
    line-height: 1.8;

    h1 {
        font-size: 32px;
      color: #FFA500;
    }

    p {
        font-size: 20px;
        font-weight: 400;
      line-height: 32px;
    }
  }

  .img {
    width: 50%;

    img {
      max-width: 100%;
      height: auto;
    }
  }
.aboutTwo{
    margin-top: 10%;

   margin-right: 10%;
    display: flex;
    justify-content: space-around;
    line-height: 0.7;
    .one{
        width: 20%;
 line-height: 0.7;
        text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
   
   
    justify-content: space-between;

h1{
 

   &:nth-child(2){
    color: #FFA500;
   }
   &:nth-child(3){
    color:#1D1D1D;
   }

   
}



    img{
        background-color:rgb(230,235,240);
        padding: 20px 15px;
        border-radius: 40%;

    }

    }


}


}