.conteiner {
  padding: 5% 151px;
  .title {

    h1 {
      font-size: 50px;
      color: #003366;
      padding: 0 10px;
      span {
        color: #ffa500;
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      padding: 10px 15px;
    }
  }
  .blog {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    .link {
      display: flex;
      text-decoration: none;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }
  .blogs {

    border-radius: 5%;
    width: 48%;
    min-height: 300px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 0 0 15px 5px #09181a0a;
    margin: 5px;
    p {
      font-size: 18px;
      font-weight: 400;
      padding: 5px 0;
      &:nth-child(3) {
        font-weight: 600;
      }
    }

    .data {
      color: #ffa500;
    }
    .title {
      color: #003366;
    }
  }
  .text {
    display: flex;
    line-height: 24px;
    color: #1d1d1d;
    font-size: 16px;
  }
  img {
    object-fit: contain;
    width: 100%;
  }
}
.list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 15px;
  font-weight: 400;
  li {
    padding: 5px;
    color: #003366;
    cursor: pointer;
  }
  .icon {
    color: #ffa500;
  }
}

@media screen and (max-width: 1200px) {
  .conteiner {
    padding: 5% 30px;
  }
}
@media screen and (max-width: 1000px) {
  .conteiner {

    .blogs {
      width: 48%;
height: 550px;
      p {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .conteiner {
    .title {
      h1 {
        margin: 5% 1%;
      }
    }
    .blogs {
      width: 48%;
height: 500px;
      p {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 560px) {
  .conteiner {
    .main {
    }
    .title {
      h1 {
        margin: 5% 1%;
      }
    }
    .blogs {
      width: 100%;
      min-height: 300px;
      height: 580px;
      .title{
        padding: 10px 0;
      }
      p {
        height: auto;
    
        line-height: 23px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .conteiner {
    .main {
    }
    .title {
      h1 {
font-size: 40px;
      }
    }
    .blogs {
     height:530px;
      .title{
    
      }
      p {
       
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .conteiner {
    .main {
    }
    .title {
      h1 {
        margin: 5% 0;
        font-size: 30px;
      }
      p{
     
      }
    }
    .blogs {
      width: 100%;
      min-height: 300px;
      padding: 15px 10px;
      .title{
        padding: 10px 0;
      }
      p {
        height: auto;
    
        line-height: 23px;
      }
    }
  }
  
}
