.conteier_4 {
  height: 100%;
  margin: 15% 13%;
}
.conteier_4 .opinion_2 {
  display: flex;
  align-items: center;
  width: 80vw;
  margin-right: 25%;
}
.conteier_4 .opinion_2 .images {
  width: 50%;
}
.conteier_4 .opinion_2 .images img:nth-child(2) {
  display: none;
}
.conteier_4 .opinion_2 .opinion {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.conteier_4 .opinion_2 .opinion button {
  border: none;
  color: #ffa500;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5em;
  cursor: pointer;
  padding: 0 5px;
}
.conteier_4 .opinion_2 .text {
  width: 80%;
  margin: 0 90px;
}
.conteier_4 .opinion_2 .text .stars {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.conteier_4 .opinion_2 .text .stars .icons {
  padding-left: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffa500;
}
.conteier_4 .opinion_2 .text .stars .icons .star {
  font-size: 1.2em;
  color: #ffa500;
}
.conteier_4 .opinion_2 .text .description {
  width: 100%;
  height: 200px;
}
.conteier_4 .opinion_2 p:nth-child(1) {
  font-size: 1.8em;
  color: #003366;
}
.conteier_4 .opinion_2 p:nth-child(3) {
  line-height: 25.8px;
  font-size: 18px;
  font-weight: 400;
  color: #003366;
}
.conteier_4 .opinion_2 p:nth-child(2) {
  color: #ffa500;
  padding: 15px 0;
}

.h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.h1 .span {
  color: #ffa500;
}

@media screen and (max-width: 1000px) {
  .conteier_4 {
    margin: 15% 0px;
  }
  .conteier_4 .opinion_2 p:nth-child(3) {
    line-height: 20px;
    font-size: 15px;
  }
  .conteier_4 .opinion_2 .images {
    width: 45%;
    height: 500px;
  }
  .conteier_4 .opinion_2 .opinion .text .stars p {
    font-size: 1.2em;
  }
  .conteier_4 .opinion_2 .opinion .text .description {
    height: 230px;
  }
}
@media screen and (max-width: 800px) {
  .conteier_4 .opinion_2 {
    padding: 60px 0;
    width: 100%;
  }
  .conteier_4 .opinion_2 .images {
    margin-right: 50px;
    height: 300px;
  }
  .conteier_4 .opinion_2 .images img:nth-child(1) {
    display: none;
  }
  .conteier_4 .opinion_2 .images img:nth-child(2) {
    display: block;
  }
  .conteier_4 .opinion_2 .opinion .text {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .conteier_4 {
    position: relative;
    width: 100%;
  }
  .conteier_4 .opinion_2 {
    align-items: center;
  }
  .conteier_4 .opinion_2 .images {
    margin: 0;
  }
  .conteier_4 .opinion_2 .images img:nth-child(1) {
    display: none;
  }
  .conteier_4 .opinion_2 .images img:nth-child(2) {
    width: 400px;
    height: 500px;
    display: block;
    position: absolute;
    right: 55%;
  }
  .conteier_4 .opinion_2 .opinion {
    width: 60%;
  }
  .conteier_4 .opinion_2 .opinion .text {
    position: relative;
    width: 88%;
    padding: 0 25px;
  }
  .conteier_4 .opinion_2 .opinion .text .stars P {
    font-size: 14px;
  }
  .conteier_4 .opinion_2 .opinion .text .buttons button:nth-child(1) {
    position: absolute;
    right: 100%;
    top: 52%;
  }
  .conteier_4 .opinion_2 .opinion .text .buttons button:nth-child(2) {
    position: absolute;
    right: 0%;
    top: 52%;
  }
}
@media screen and (max-width: 400px) {
  .conteier_4 {
    height: 700px;
  }
  .conteier_4 h1 {
    font-size: 40px;
  }
  .conteier_4 .opinion_2 .images img:nth-child(1) {
    display: none;
  }
  .conteier_4 .opinion_2 .images img:nth-child(2) {
    right: 50%;
    bottom: 16%;
    height: 400px;
    width: 400px;
  }
  .conteier_4 .opinion_2 .opinion {
    width: 100%;
  }
  .conteier_4 .opinion_2 .opinion .text {
    width: 100%;
  }
  .conteier_4 .opinion_2 .opinion .text .description {
    width: 100%;
    font-size: 14px;
  }
  .conteier_4 .opinion_2 .opinion .text .buttons {
    font-size: 1em;
  }
  .conteier_4 .opinion_2 .opinion .text .buttons button:nth-child(1) {
    font-size: 1em;
  }
  .conteier_4 .opinion_2 .opinion .text .buttons button:nth-child(2) {
    font-size: 1em;
  }
}/*# sourceMappingURL=opinion.module.css.map */