.conteier_4{
    height: 100vh;
    margin:  15% 13%;
 .opinion_2{
    display: flex;
    align-items: center;
    width: 80vw;
    margin-right: 25%;
    .opinion{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
            button{
                border: none;
                color: #FFA500;
                background-color: white;
                font-size: 1.5em;
                cursor: pointer;
            }  
    }
        .text{
            width: 80%;
            margin: 0 90px;
            .stars{
                display: flex;
                align-items: baseline;
                justify-content: flex-start;
            .icons{
                padding-left:30%;
                display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFA500;
                .star{
                    font-size: 1.2em;
                    color: #FFA500;
                }  
            }        
            }
        } 
        p:nth-child(1){
            font-size: 1.8em;
            color: #003366;
        }
        p:nth-child(3){
            line-height: 28.8px;
            font-size: 18px;
            font-weight: 400;
            color: #003366;
        }
        p:nth-child(2){
            color: #FFA500
        }
    }
 }
    .h1{
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        .span{
            color:#FFA500;
        }
    }
   
