.conteiner {
  padding: 5% 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.conteiner .mediaimg {
  display: none;
}
.conteiner .img {
  position: absolute;
  left: 80%;
  top: 180px;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.conteiner .buttons {
  width: 12%;
  font-weight: 600;
  color: #003366;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 0 10%;
}
.conteiner .buttons .link {
  text-decoration: none;
}
.conteiner .buttons p {
  cursor: pointer;
}
.conteiner .buttons p:nth-child(2) {
  color: #ffa500;
}
.conteiner .two {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.conteiner .two .contact {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.conteiner .two .contact ul {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.5;
  z-index: 3;
}
.conteiner .two .contact ul li {
  padding: 0 58px;
  font-weight: 600;
  list-style: none;
  font-size: 20px;
  text-align: center;
}
.conteiner .two .contact ul li .icon {
  font-size: 2em;
  padding: 0 25px;
  color: #003366;
}
.conteiner .two .contact ul li:nth-child(3) {
  display: none;
}
.conteiner .two .contact p {
  font-weight: 600;
  list-style: none;
  font-size: 20px;
}
.conteiner .two .contact p .icon {
  font-size: 2em;
  padding: 0 25px;
  color: #003366;
}
.conteiner .two h1 {
  font-size: 2.8em;
  color: #003366;
}
.conteiner .two h1 span {
  color: #ffa500;
}
.conteiner .two .three {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 70%;
  z-index: 3;
}
.conteiner .two .three p {
  order: 2;
  line-height: 1.8;
  font-weight: 500;
  font-size: 1.3em;
  padding: 0 100px;
}
.conteiner .conteinerTwo {
  padding: 3% 3%;
  line-height: 0.2;
}
.conteiner .conteinerTwo img {
  margin-left: 50px;
  width: 30%;
  height: 20%;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
}
.conteiner .conteinerTwo h1 {
  text-align: center;
  color: #003366;
  font-size: 2.8em;
}
.conteiner .conteinerTwo h1 span {
  color: #ffa500;
}
.conteiner .conteinerTwo .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.conteiner .conteinerTwo .content .text {
  text-align: center;
  width: 60%;
}
.conteiner .conteinerTwo .content .text p {
  padding: 0 80px;
  line-height: 2.1;
  font-weight: 500;
  font-size: 1.1em;
}

@media screen and (max-width: 1000px) {
  .conteiner {
    padding: 5% 0;
  }
  .conteiner .buttons {
    padding: 5% 4%;
  }
  .conteiner .mediaimg {
    display: block;
    width: 40vw;
    height: 500px;
  }
  .conteiner .two .contact ul {
    flex-direction: column;
    align-items: baseline;
    flex-wrap: nowrap;
  }
  .conteiner .two .contact ul li {
    padding: 15px 0px;
  }
  .conteiner .two .contact ul li:nth-child(3) {
    display: block;
  }
  .conteiner .two .contact p {
    display: none;
  }
  .conteiner .two .three p {
    width: 100%;
    padding: 0;
  }
  .conteiner .conteinerTwo img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .conteiner .two .mediaimg {
    width: auto;
  }
  .conteiner .two .three {
    width: 90%;
    padding: 0 4%;
  }
  .conteiner .two .contact {
    align-items: stretch;
    align-content: flex-start;
  }
  .conteiner .two .img {
    display: none;
  }
  .conteiner .conteinerTwo {
    padding: 0;
  }
  .conteiner .conteinerTwo h1 {
    width: 80%;
  }
  .conteiner .conteinerTwo .content {
    justify-content: flex-start;
  }
  .conteiner .conteinerTwo .content .text {
    text-align: left;
    width: 80%;
  }
  .conteiner .conteinerTwo .content .text p {
    width: 70%;
  }
}
@media screen and (max-width: 400px) {
  .conteiner .buttons {
    padding: 12% 8%;
  }
  .conteiner .two .mediaimg {
    width: 90vw;
    height: 400px;
  }
  .conteiner .two .three {
    text-align: left;
  }
  .conteiner .two .contact {
    width: 100%;
  }
  .conteiner .conteinerTwo h1 {
    width: 100%;
    font-size: 2.1em;
  }
}/*# sourceMappingURL=contact.module.css.map */