.header{
    background-color: #003366;
    z-index: 10;
    position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
 
    header{
       display: flex;
       justify-content: space-around;
       p{
        margin-left: 150px;
        margin-right: 100px;
        color: white;
        cursor: pointer;
       }
    
         ul{
             display: flex;
             justify-content: space-evenly;
            width: 50%;
             .link{
              color: white;
             }
             li{
              width: 30%;
                cursor: pointer;
                 color: white;
                 list-style: none;
                 
             }
             
         }
    }
 
}