.header {
  background-color: #003366;
  width: 100%;
  height: 60px;
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 151px;

    .image {
      img {
        object-fit: cover;
        height: 100%;
      }
    }

    .MenuIcon {
      color: #FFA500;
      display: none;
      cursor: pointer;
      font-size: 24px;
      &:active {
        transition: all 0.7s ease;
        transform: rotateZ(-360deg);
      }
    }

    .nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 1;

      .link {
        text-decoration: none;
        color: white;
        margin: 0 6%;
      }
    }

    .changeLanguage {
      margin-left: auto;

      p {
        color: white;
      }
    }
  }

  @media screen and (max-width: 1000px) {

    .container {
      padding: 0 40px;

      .nav {
        display: none; 
      }

      .openNav {
        display: flex; 
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 60vh;
        background-color: rgba(217, 217, 217, 97%);
        color: #003366;
        position: absolute;
        top: 60px;
        left: 0;
       
       

        .link {
          padding: 12px 40px;
          color: #003366;
          font-weight: 800;
          margin: 0;
          text-decoration: none;
          margin: 10px 0;
          font-size: 1.5em;
        }
      }

      .MenuIcon {
        display: block;
      }

      .image {
        margin-left: auto;
      }
    }
  }
}
@media screen and (max-width: 400px) {
.header{

.container{

  .openNav{
    height: 60vh;

  }
}
}

}