.conteiner{
padding: 5% 0;

    .two{
width: 100%;
display: flex;
flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    h1{
        font-size: 2.8em;
        color: #003366;
        span{
            color:#FFA500;
        }
    }
        .three{
            display: flex;
            flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
            width: 70%;
            margin-right: 8%;

     
        img{
            order: 1;
            margin-left: 50px;
            width: 50%;
            height: 500px;
            object-fit: cover;
        }

p{
    order: 2;
    line-height: 1.8;
    font-weight: 500;
    font-size: 1.3em;

}
        }
    }


    .conteinerTwo{
        padding: 3% 3%;
        
h1{
    text-align: center;
    color: #003366;
    font-size: 2.8em;
    span{
color: #FFA500;
    }
}
        .content{
            display: flex;
            align-items: center;
    justify-content: space-evenly;
            .text{
 width: 20%;
 p{
    line-height: 2.1;
    font-weight: 500;
    font-size: 1.1em;
 }
 
            }
            .contact{
                ul{
                    line-height:2.5;

                    li{

                        list-style: none;
                        
                    }
                }
                
            }
        }

    }
}


