footer{
    display: flex;  
  

    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;


.footer{

display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
    h1{
  
        color:rgb(0,51,102);
    }
    p{
        font-size: 1.1em;
        color:rgb(0,51,102);
    }
    img{

        object-fit: contain;
        width: 350px;
    }
}
