

.cardContainer {
    width: 265px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;
 
   
   
   


 
 
 

    .imageBox {
        width: 100%;
        height: 332px;
        position: relative;
        &:hover {
            .socialBox {
                width: 100%;
                height: 39px;
                background-color: #003366;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: 0;
            }
        }
        .cardImage {
            width: 100%;
            height: 100%;
           
           
           
        }

        .socialBox {
            display: none;
            .socialIcons {
                display: none;
                width: 141px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .icon {
                    color: white;
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {

    .cardContainer:nth-child(2){
        display: none;
    }
    .main{
        .cardContainer{
            .imageBox{
             display: flex;
             justify-content: center;
             
             
            }
        }
    }
}








