.course {
  padding: 5% 25%;
}
.course .buttons {
  width: 20%;
  font-weight: 600;
  color: #003366;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.course .buttons .link {
  text-decoration: none;
}
.course .buttons p {
  cursor: pointer;
}
.course .buttons p:nth-child(2) {
  color: #ffa500;
}
.course .first {
  height: 950px;
}
.course .first .btnConteiner {
  width: 100%;
  display: flex;
}
.course .first .btnConteiner .buttons {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.course .first .btnConteiner .buttons button {
  border-radius: 5px;
  width: 35%;
  margin: 5px;
  padding: 15px 15px;
  border: none;
  color: #003366;
  background-color: rgba(204, 204, 204, 0.27);
}
.course .first .main {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.course .first .main p {
  position: absolute;
  width: 50%;
  padding: 10px;
  left: 15px;
  bottom: 1px;
  line-height: 1.6;
  font-size: 1.1em;
  font-weight: 400;
}
.course .first .main img {
  width: 50vw;
  height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
}
.course .first h1 {
  text-align: center;
  color: #003366;
  font-size: 40px;
}
.course .first h1 span {
  color: #ffa500;
}
.course .main {
  width: 100%;
  display: flex;
}
.course .main .second {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.course .main .second h1 {
  color: #003366;
  font-size: 30px;
  font-weight: 400;
}
.course .main .second ul {
  font-weight: 400;
}
.course .main .second ul li {
  line-height: 40px;
  color: #1d1d1d;
}
.course .main .second .CourseHighlights h1 {
  font-size: 30px;
  color: #003366;
}
.course .main .second .CourseHighlights ul li {
  line-height: 40px;
  color: #1d1d1d;
}
.course .main .CurseImg {
  width: 50%;
  display: flex;
  justify-content: center;
}
.course .main .CurseImg img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .course {
    padding: 12% 22%;
    min-height: 300px;
  }
  .course .first {
    height: 500px;
  }
  .course .first .main {
    position: static;
    flex-direction: column;
  }
  .course .first .main img {
    display: none;
  }
  .course .first .main p {
    position: static;
    width: 100%;
    font-size: 1.1em;
  }
  .course .main {
    flex-direction: column;
  }
  .course .main .CurseImg {
    width: 80%;
    display: flex;
  }
  .course .main .CurseImg img {
    margin-right: 195px;
  }
  .course .main .second {
    width: 100%;
  }
  .course .main .second .CourseHighlights {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (max-width: 600px) {
  .course {
    padding: 8% 10%;
    min-height: 300px;
  }
  .course .first {
    height: 700px;
  }
  .course .first .main {
    position: static;
    min-height: 300px;
  }
  .course .first .main .second .CourseHighlights h1 {
    width: 55%;
  }
  .course .first .main p {
    position: static;
    width: 100%;
    font-size: 1.1em;
  }
  .course .first .main img {
    display: none;
  }
  .course .first .btnConteiner {
    justify-content: center;
  }
  .course .first .btnConteiner .buttons button {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .course {
    padding: 15% 5%;
    min-height: 300px;
  }
  .course .first {
    min-height: 300px;
  }
  .course .first h1 {
    font-size: 30px;
    text-align: start;
  }
  .course .first .main {
    position: static;
    min-height: 100px;
  }
  .course .first .main p {
    position: static;
    width: 100%;
    font-size: 1.1em;
  }
  .course .first .main img {
    display: none;
  }
  .course .main .second .CourseHighlights h1 {
    width: 65%;
  }
  .course .main .CurseImg {
    width: 100%;
  }
  .course .main .CurseImg img {
    margin-right: 155px;
  }
}/*# sourceMappingURL=coursepage.module.css.map */