.course {
  padding: 5% 23%;

  .buttons {
    width: 20%;
    font-weight: 600;
    color: #003366;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

    .link {
      text-decoration: none;
    }

    p {
      cursor: pointer;

      &:nth-child(2) {
        color: #ffa500;
      }
    }
  }

  .first {
    height: 950px;

    .btnConteiner {
      width: 100%;
      display: flex;

      .buttons {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;

        button {
          border-radius: 5px;
          width: 35%;
          margin: 5px;
          padding: 15px 15px;
          border: none;
          color: #003366;
          background-color: rgba(204, 204, 204, 27%);
        }
      }
    }

    .main {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: flex-end;
      position: relative;

      p {
        position: absolute;
        width: 50%;
        padding: 10px;
        left: 15px;
        bottom: 1px;
        line-height: 1.6;
        font-size: 1.1em;
        font-weight: 400;
      }

      img {
        width: 50vw;
        height: 80vh;
        object-fit: contain;
      }
    }

    h1 {
      text-align: center;
      color: #003366;
      font-size: 40px;

      span {
        color: #ffa500;
      }
    }
  }

  .main {
    width: 100%;
    display: flex;

    .second {
      display: flex;
      flex-direction: column;
      width: 25vw;

      h1 {
        color: #003366;
        font-size: 30px;
        font-weight: 400;
      }

      ul {
        font-weight: 400;
        padding: 15px 0;

        li {
          line-height: 40px;
          color: #1d1d1d;
        }
      }

      .CourseHighlights {
        padding: 15px 0;
        h1 {
          font-size: 30px;
          color: #003366;
        }

        ul {
          li {
            line-height: 40px;
            color: #1d1d1d;
          }
        }
      }
    }

    .CurseImg {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
        object-fit: contain
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .course {
    padding: 12% 22%;
    min-height: 300px;

    .first {
      height: 500px;

      .main {
        position: static;
        flex-direction: column;

        img {
          display: none;
        }

        p {
          position: static;
          width: 100%;
          font-size: 1.1em;
        }
      }
    }

    .main {
      flex-direction: column;

      .CurseImg {
        width: 80%;
        display: flex;
  
        img{
          margin-right: 195px;
        }
      }

      .second {
        width: 100%;

        .CourseHighlights {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .course {
    padding: 60px 30px;
    min-height: 300px;

    .first {
      height: 700px;

      .main {
        position: static;
        min-height: 300px;

        .second {
          .CourseHighlights {
            h1 {
              width: 55%;
            }
          }
        }

        p {
          position: static;
          width: 100%;
          font-size: 1.1em;
        }

        img {
          display: none;
        }
      }

      .btnConteiner {
        justify-content: center;

        .buttons {
          button {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .course {
    padding: 60px 30px;
    min-height: 300px;

    .first {
      min-height: 300px;

      h1 {
        font-size: 30px;
        text-align: start;
        padding: 10px 0;
      }

      .main {
        position: static;
        min-height: 100px;

        p {
          position: static;
          width: 100%;
          font-size: 1.1em;
          padding: 10px 0;
        }

        img {
          display: none;
        }
      }
    }

    .main {
      .second {
     

        .CourseHighlights {
          h1 {
            width: 80%;
          }
        }
      }

      .CurseImg {
        width: 100%;
        img{
          margin-right: 155px;
        }
      }
    }
  }
}
