.homepage {
  display: flex;
  align-items: flex-start;
  position: relative;
  .img {
    position: absolute;
    left: 30%;
    top: 15%;
    margin-top: 15%;
    margin-left: 5%;
    z-index: 1;
    img {
      background-size: contain;
      object-fit: contain;
      &:nth-child(2) {
        display: none;
      }
    }
  }
  height: 100vh;
  .home {
    margin: 10%;
    width: 35%;
    .homeimg {
      display: none;
    }
    h1 {
      color: #003366;
      font-size: 4em;
      span {
        color: #ffa500;
      }
    }

    .btn {
      display: flex;

      .btnTwo {
        width: 185px;
        height: 60px;
        z-index: 2;
        color: #003366;
        text-decoration: none;
        margin: 0 25px;
        &:hover {
          color: #ffa500;
        }
      }
      .src {
        width: 222px;
        height: 60px;
        text-decoration: none;
        color: white;
      }
    }
    p {
      font-size: 2em;
      padding: 5px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .homepage {
    .img {
      left: 50%;
      img {
        width: 40vw;

        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }

    .home {
      margin: 22% 10%;
      h1 {
        font-size: 2.8em;
      }
      p {
        font-size: 1.5em;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .homepage {
 height:auto;
    .img {
      display: none;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items:baseline;
        padding: 15px 0;
      width: 100%;
      margin: 10%;
      .btn{
        width: 90%;
      }
      h1 {
        font-size: 3em;
      }
      p {
        width: 90%;
      }

      .homeimg {
padding-left: 55px;
        display: block;
        height: 215px;
        width: 251px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
.homepage{
    .home{
        h1{
            font-size: 40px;
        }
        p{
            width: 100%;
        }
        .homeimg{
            object-fit: cover;
            height: 315px;
        width: 301px;
        }
        .btn{
            width: 100%;
        }
    }
}

}