.homepage {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 100vh;
}
.homepage .img {
  position: absolute;
  left: 30%;
  top: 15%;
  margin-top: 15%;
  margin-left: 5%;
  z-index: 1;
}
.homepage .img img {
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
}
.homepage .img img:nth-child(2) {
  display: none;
}
.homepage .home {
  margin: 10%;
  width: 35%;
}
.homepage .home .homeimg {
  display: none;
}
.homepage .home h1 {
  color: #003366;
  font-size: 4em;
}
.homepage .home h1 span {
  color: #ffa500;
}
.homepage .home .btn {
  display: flex;
}
.homepage .home .btn .btnTwo {
  width: 185px;
  height: 60px;
  z-index: 2;
  color: #003366;
  text-decoration: none;
  margin: 0 25px;
}
.homepage .home .btn .btnTwo:hover {
  color: #ffa500;
}
.homepage .home .btn .src {
  width: 222px;
  height: 60px;
  text-decoration: none;
  color: white;
}
.homepage .home p {
  font-size: 2em;
  padding: 5px;
}

@media screen and (max-width: 1400px) {
  .homepage .img {
    left: 40%;
  }
  .homepage .img img {
    width: 40vw;
  }
  .homepage .img img:nth-child(1) {
    display: block;
    left: 30%;
    top: 15%;
  }
  .homepage .img img:nth-child(2) {
    display: none;
  }
  .homepage .home {
    margin: 15% 12%;
  }
  .homepage .home h1 {
    font-size: 2.8em;
  }
  .homepage .home p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1200px) {
  .homepage .img {
    left: 50%;
  }
  .homepage .img img {
    width: 30vw;
  }
  .homepage .img img:nth-child(1) {
    display: none;
  }
  .homepage .img img:nth-child(2) {
    display: block;
  }
  .homepage .home {
    margin: 15% 30px;
    width: 50%;
  }
  .homepage .home h1 {
    font-size: 2.8em;
  }
  .homepage .home p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 800px) {
  .homepage {
    height: auto;
  }
  .homepage .img {
    display: none;
  }
  .homepage .home {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 15px 0;
    width: 100%;
  }
  .homepage .home .btn {
    width: 100%;
  }
  .homepage .home .btn button {
    width: 100%;
  }
  .homepage .home h1 {
    font-size: 2.8em;
  }
  .homepage .home p {
    width: 90%;
  }
  .homepage .home .homeimg {
    padding-left: 95px;
    display: block;
    height: 215px;
    width: 350px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 600px) {
  .homepage {
    height: auto;
  }
  .homepage .img {
    display: none;
  }
  .homepage .home {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 15px 0;
    width: 100%;
  }
  .homepage .home .btn {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .homepage .home .btn button {
    width: 100%;
  }
  .homepage .home h1 {
    font-size: 3em;
  }
  .homepage .home p {
    width: 90%;
  }
  .homepage .home .homeimg {
    padding-left: 55px;
    display: block;
    height: 215px;
    width: 251px;
  }
}
@media screen and (max-width: 400px) {
  .homepage .home h1 {
    font-size: 40px;
  }
  .homepage .home p {
    width: 100%;
  }
  .homepage .home .homeimg {
    -o-object-fit: cover;
       object-fit: cover;
    height: 315px;
  }
  .homepage .home .btn {
    width: 100%;
  }
}/*# sourceMappingURL=home.module.css.map */