.homepage {
    display: flex;
    align-items: flex-start;
    position: relative;
    .img {
        position: absolute;
        left: 30%;
        top: 15%;
        margin-top: 15%;
        margin-left: 5%;
        z-index: 1;
        img {
            background-size: contain;
            object-fit: contain;
        }
    }
    height: 100vh;
    .home {
        margin: 10%;
        width: 35%;
        h1 {
            color: #003366;
            font-size: 4em;
            span {
                color: #ffa500;
            }
        }

        .btn {
            display: flex;
           
           
            .btnTwo {
                width: 185px;
                height: 60px;
                z-index: 2;
                color: #003366;
                text-decoration: none;
                margin: 0 25px;
                &:hover {
                    color: #ffa500;
                }
            }
            .src {
                width: 222px;
                height: 60px;
                text-decoration: none;
                color: white;
            }
        }
        p {
            font-size: 2em;
            padding: 5px;
        }
    }
}
